flows.json
[{"id":"c825be45.9049b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"699eaa5a.b9f1b4","type":"http request","z":"c825be45.9049b","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/b0f8dfd0-27a3-4e7c-acae-3a4061c25598/deployments/ae821a99-72c0-479e-9034-de21df0308fd/online","tls":"","proxy":"","x":990,"y":620,"wires":[["5fa7384.a5250c8"]]},{"id":"a9bb76d3.b7a118","type":"function","z":"c825be45.9049b","name":"prediction","func":"var token=msg.payload.token;\nvar calories=global.get(\"calories\");\nvar protein=global.get(\"protein\");\nvar fat=global.get(\"fat\");\nvar fiber=global.get(\"fiber\");\nvar carbo=global.get(\"carbo\");\nvar sugars=global.get(\"sugars\");\nmsg.payload={\"fields\":[\"calories\",\"protein\",\"fat\",\"fiber\",\"carbo\",\"sugars\"],\"values\":[[calories,protein,fat,fiber,carbo,sugars]]};\n//msg.payload=State;\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":540,"wires":[["699eaa5a.b9f1b4","693c317d.94e71"]]},{"id":"693c317d.94e71","type":"debug","z":"c825be45.9049b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":500,"wires":[]},{"id":"2bced432.aa5fac","type":"http request","z":"c825be45.9049b","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","x":730,"y":400,"wires":[["8f695488.643638","a9bb76d3.b7a118"]]},{"id":"7e914862.fcf9b8","type":"inject","z":"c825be45.9049b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":420,"wires":[["334b5a82.63ef06"]]},{"id":"334b5a82.63ef06","type":"function","z":"c825be45.9049b","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"0985ab95-1ef4-444b-a00d-57e417721cdc\"\nvar password=\"52eb0876-6717-4bf9-adc6-05a77f0e1bf8\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"calories\",msg.payload.calories)\nglobal.set(\"protein\",msg.payload.protein)\nglobal.set(\"fat\",msg.payload.fat)\nglobal.set(\"fiber\",msg.payload.fiber)\nglobal.set(\"carbo\",msg.payload.carbo)\nglobal.set(\"sugars\",msg.payload.sugars)\nreturn msg;","outputs":1,"noerr":4,"x":510,"y":380,"wires":[["2bced432.aa5fac"]]},{"id":"5fa7384.a5250c8","type":"function","z":"c825be45.9049b","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":640,"wires":[["72729b92.741d84"]]},{"id":"8f695488.643638","type":"debug","z":"c825be45.9049b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":380,"wires":[]},{"id":"a86776f8.6e6718","type":"ui_form","z":"c825be45.9049b","name":"","label":"","group":"e2a5219.08104e","order":0,"width":0,"height":0,"options":[{"label":"calories","value":"calories","type":"number","required":true},{"label":"protein","value":"protein","type":"number","required":true},{"label":"fat","value":"fat","type":"number","required":true},{"label":"fiber","value":"fiber","type":"number","required":true},{"label":"carbo","value":"carbo","type":"number","required":true},{"label":"sugars","value":"sugars","type":"number","required":true}],"formValue":{"calories":"","protein":"","fat":"","fiber":"","carbo":"","sugars":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":252,"y":746,"wires":[["c3e51a04.d4b4a8","8d5603a.9036b","e53fde96.d38bc","334b5a82.63ef06","cba35b62.a9e868","f0e1dc4f.ce0c8","d017a8dc.331898"]]},{"id":"c3e51a04.d4b4a8","type":"ui_text","z":"c825be45.9049b","group":"e2a5219.08104e","order":2,"width":0,"height":0,"name":"","label":"calories","format":"{{msg.payload.calories}}","layout":"row-spread","x":620,"y":720,"wires":[]},{"id":"72729b92.741d84","type":"ui_text","z":"c825be45.9049b","group":"e2a5219.08104e","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1200,"y":520,"wires":[]},{"id":"8d5603a.9036b","type":"ui_text","z":"c825be45.9049b","group":"e2a5219.08104e","order":2,"width":0,"height":0,"name":"","label":"protein","format":"{{msg.payload.protein}}","layout":"row-spread","x":650,"y":760,"wires":[]},{"id":"e53fde96.d38bc","type":"ui_text","z":"c825be45.9049b","group":"e2a5219.08104e","order":2,"width":0,"height":0,"name":"","label":"fiber","format":"{{msg.payload.fiber}}","layout":"row-spread","x":570,"y":860,"wires":[]},{"id":"f0e1dc4f.ce0c8","type":"ui_text","z":"c825be45.9049b","group":"e2a5219.08104e","order":2,"width":0,"height":0,"name":"","label":"carbo","format":"{{msg.payload.carbo}}","layout":"row-spread","x":570,"y":920,"wires":[]},{"id":"d017a8dc.331898","type":"ui_text","z":"c825be45.9049b","group":"e2a5219.08104e","order":2,"width":0,"height":0,"name":"","label":"sugars","format":"{{msg.payload.sugars}}","layout":"row-spread","x":529,"y":965,"wires":[]},{"id":"cba35b62.a9e868","type":"ui_text","z":"c825be45.9049b","group":"e2a5219.08104e","order":2,"width":0,"height":0,"name":"","label":"fat","format":"{{msg.payload.fat}}","layout":"row-spread","x":613,"y":817,"wires":[]},{"id":"e2a5219.08104e","type":"ui_group","z":"c825be45.9049b","name":"Prediction","tab":"33b27687.84c06a","disp":true,"width":"6","collapse":false},{"id":"33b27687.84c06a","type":"ui_tab","z":"c825be45.9049b","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]